body {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texts {
    display: flex;
    justify-content: center;

}
canvas {
    border: 1px solid black;
    width: 800px;
    height: 600px;
}
.counter {
    position: absolute;
    font-size: 2rem;
    margin-left: 2rem;
}
#gameOver {
    position: absolute;
    font-size: 6rem;
    color: rgb(8, 7, 5);
    top: 30%;
}
#gameOverMessage {
    position: absolute;
    font-size: 2rem;
    color: rgb(126, 125, 122);
    bottom: 30%;
}
.hide {
    display: none;
}