body {
    margin: 0;
    background-color: rgb(49, 49, 51);
    color: white;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.page {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
h1 {
    margin: 7rem;
}
.inputContainer {
    margin-bottom: 1rem;
}
#loader {
    animation: spin 1s linear infinite;
    width: 2rem;
    height: 2rem;
    border: 6px solid #bebebe;
    border-top: 6px solid #6e6d6d;
    border-radius: 50%;
}
.hide {
    display: none;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
#pokemonInput {
    background-color: rgb(49, 49, 51);
    color: white;
    border: none;
    background-color:  rgb(33, 33, 34);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}
#button {
    text-decoration: none;
    color: white;
    background-color:  rgb(33, 33, 34);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin-left: 1rem;
}
.pics {
    display: flex;
}
.over {
    text-decoration: line-through;
    color: rgb(110, 5, 5);
}
.big {
    text-decoration: none;
    font-size: 4rem;
    color: rgb(224, 15, 15);
    text-shadow: rgb(20, 1, 1) 2px 2px;
    font-family: chiller;
}
.picBg {
    height: 96px;
    width: 96px;
    margin: 1px;
    margin-right: 1rem;
    margin-top: 1rem;
}
.border {
    border: rgb(34, 34, 34) solid 1px;
}
.loader {
    animation: spin 1s linear infinite;
    width: 1rem;
    height: 1rem;
    border: 6px solid #a1a1a1;
    border-top: 6px solid #5a5a5a;
    border-radius: 50%;
}